<% content_for :title, "New video" %>

<h1>Video by Semantics</h1>

<div>Upload a video to be captioned by visual language model and shared.</div>

<br>

<%= render "form", video: @video %>

<br>

<div>
  <%= link_to "Back to videos", videos_path %>
</div>