<style>
  draggable-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    cursor: move;
    user-select: none;
  }
</style>

<%= vite_javascript_tag 'xanadu' %>

<h1>Home</h1>
<div data-controller="hello"></div>

<draggable-box style="left: 100px; top: 100px;">
  Drag me!
</draggable-box>